/* From Uiverse.io by ElSombrero2 */
.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    perspective: 1000px;
    width: 200px;
    height: 300px;
    overflow: visible;
}

.card .content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
}

.card:hover .content {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.front {
    background-color: #fff;
    color: black;
}

.back {
    background-color: #f8f8f8;
    color: black;
    transform: rotateY(180deg);
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
    animation: rotation_481 5000ms infinite linear;
}

.back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1;
}

.blurred-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    z-index: 0;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front .front-content {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    border-radius: 0 0 5px 5px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    /* Black outline */
}

.meal-title {
    margin: 0;
    font-size: 1.2em;
    text-align: center;
}

.back-content h2,
.back-content p {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    /* Black outline */
}

.card:hover .content {
    transform: rotateY(180deg);
}

@keyframes rotation_481 {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.recipe-details {
    text-align: center;
}

.instructions-container {
    display: flex;
    justify-content: center;
}

.instructions-container ol {
    text-align: left;
    padding-left: 20px; /* Adjust padding to align numbers */
}

.instructions-container ol li {
    margin-bottom: 10px;
}